<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
      <a mat-list-item routerLinkActive="active" routerLink="/recettes">Recettes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between" color="primary">
      <div fxFlexAlign="center">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="title">Recipebook</span>
        <button
        class='buttonAction'
        type="button"
        mat-button
        (click)="saveRecipes()"
        >
        Sauvegarder
        </button>
        <button
        class='buttonAction'
        type="button"
        mat-button
        (click)="fetchRecipes()"
        >
        récupérer les recettes
        </button>
      </div>
      <div fxFlexAlign="center" fxLayout="row">
        <a routerLink="/signin"><mat-icon class="person">person</mat-icon></a>
        <button
        class='saverecipe'
        type="button"
        mat-button
        (click)="logOut()"
        *ngIf="authService.isAuthenticated()"
        >
        Me déconnecter
        </button>
        
      </div>
    </mat-toolbar>
  <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
