.list {
    width: 90%;
    margin-left:20px;
}

.add {
        background-color: none;
        margin-top:15px;
        margin-bottom:15px;
}

.addbutton {
    margin:auto;
}

.addtitle{
    margin-left: 15px;
}

.item {
    margin-bottom: 15px;
}
/* .active {
    background-color: yellow;
} */