<div class="container">
  <h3 class="title">Shopping list:</h3>
  <div class="shoppinglist" fxLayout="row" fxLayout.xs="column" fxlayoutGap="60px">
    <mat-list fxFlex="30%">
      <mat-list-item *ngFor="let ingredient of ingredients; let i = index">
        {{ingredient.name}} ({{ingredient.amount}})
        <span>
          <button mat-icon-button>
            <mat-icon class="clear">clear</mat-icon>
          </button>
        </span>
      </mat-list-item>
    </mat-list>
    <app-shoppinglistedit class="shoppinglistedit" fxFlex="70%"></app-shoppinglistedit>
  </div>
</div>
